* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

i {
  margin: auto 4px;
}
.quiz-main-container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-box {
  position: relative;
  height: 70vh;
  background-color: #fff;
  width: 50vw;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
  /* overflow: hidden; */
}

.question-details {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c2c2c2;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.question-text {
  padding: 2rem;
  height: 10rem;
  width: 100%;
}
.question-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.option {
  text-align: left;
}
.option > span {
  text-align: left !important;
}
.option-row-1,
.option-row-2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.option-row-1 > .btn,
.option-row-2 > .btn {
  width: 45%;
}

.navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #ebeaea;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.active {
  background-color: #083881 !important;
  color: rgb(255, 255, 255) !important;
}

.result-box {
  height: 80vh;
  width: 70vw;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  display: none;
  overflow-y: hidden;
}
.table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
.result-nav {
  height: 2rem;
  width: 100%;
}
.table {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.question-solutions {
  position: relative;
  bottom: 4rem;
  display: flex;
  max-height: 10rem;
  justify-content: center;
  overflow-y: scroll;
  /* background-color: green; */
  margin: 1rem 0.5rem;
}

.start-box {
  height: 70vh;
  width: 50vw;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.start-para {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.devName {
  position: absolute;
  bottom: 0;
  color: rgb(161, 161, 161);
  left: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .quiz-main-container {
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  body {
    max-width: 100vw;
    max-height: 100vh;
  }
  .start-box {
    max-width: 80%;
    width: 80%;
  }
  .quiz-box {
    max-width: 80%;
    width: 80%;
    flex-direction: column;
    align-content: space-between;
  }
  .option {
    font-size: 0.7rem;
  }
  #prev-btn,
  #checkAns,
  #next-btn {
    font-size: 0.7rem;
  }

  .question-text {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    margin: 35px 10px 0 10px;
  }
  .option-row-1 > .btn,
  .option-row-2 > .btn {
    height: 50%;
    width: 100%;
  }
  .question-text > p {
    width: 80%;
    padding: auto 0;
  }
  .question-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 0.3em;
    margin-bottom: 0;
  }
  .option-row-1,
  .option-row-2 {
    padding: 2px;
    gap: 0.5rem;
  }

  .question-options > div {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
  }
  .result-box {
    max-width: 90%;
    width: 90%;
    flex-direction: column;
    align-content: space-between;
    position: relative;
    padding: 0.7rem;
    overflow-x: hidden;
  }
  .result-heading > h1 {
    font-size: 0.9em;
  }

  .score-details > h2 {
    font-size: 0.8em;
  }
  .score-details > h3 {
    font-size: 0.9em;
  }
  table {
    font-size: 0.5em;
  }
  .result-nav {
    position: absolute;
    bottom: 3rem;
    width: 60%;
  }
  .question-solutions {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1rem;
    width: 90%;
    max-height: 60%;
    height: 50%;
  }
  .devName {
    font-size: 0.4rem;
    position: absolute;
    bottom: 0;
    color: rgb(161, 161, 161);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  .restart-btn {
    font-size: 0.8em;
  }
  table {
    width: 100%;
    box-sizing: border-box;
  }
  td,
  th {
    min-width: none;
    padding: 2px;
    min-width: none;
    box-sizing: border-box;

  }
  .result-nav {
    height: 2rem;
    width: 100%;
  }
}
